
.card {
    --bg: #e8e8e8;
    --contrast: #e2e0e0;
    --grey: #93a1a1;
    position: relative;
    padding: 9px;
    background-color: var(--bg);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 500px;
    margin: auto;
    
  }
  
  .cardOverlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
    
   
  }
  
  .cardInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 500px;
    height: auto;
    background-color: var(--contrast);
    border-radius: 30px;
    /* Content style */
    font-size: 10px;
    font-weight: 1px;
    color: #c03e3e;
    text-align: center;
    font-family: monospace;
    
    
  }
.carrito{
    display: inline-flex;
    flex-direction: column;
}
.boton {
    text-decoration: none;
    border-radius: 25;
    margin: 0 25px;
    padding: 12px;
    font-size: 15px;
    background: #8C30F5;
    border-radius: 8px;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
}
